<script>

  let klass = 'highlight';
  let steplist = document.querySelector('.steps');
  let steps = steplist.querySelectorAll('li');

  steps.forEach(
    function(step) {
      step.addEventListener('click', function (e) {

      	// If the clicked element doesn't have the right selector, bail
      	if (e.target.classList.contains(klass)) {
          e.target.classList.remove(klass);
        } else {
          e.target.classList.add(klass);
          for (let sibling of this.parentNode.children) {
              if (sibling !== this) sibling.classList.remove(klass);
          }
        }
      }, false);
    }
  );


//Enable keyboard navigation for step list (Up and down keys)
document.addEventListener('keydown', function (e) {

  switch(e.which) {
    case 38: 						// up
    if ((currentStep = steplist.querySelector('.' + klass))
      && (previousStep = currentStep.previousElementSibling)){
      currentStep.classList.remove(klass);
      previousStep.classList.add(klass)
    };
    break;
    case 40: 						// down
    if (currentStep = steplist.querySelector('.' + klass)){
      currentStep.classList.remove(klass);
      if (nextStep = currentStep.nextElementSibling) {
        nextStep.classList.add(klass)
      }
    } else {
      steplist.querySelector('li').classList.add(klass); //Select the first one
    }
    break;
    default: return;
  }

})



</script>
