---
layout: default
---

<div class="recipe">
  <div class="title">
    <p><a href="{{ site.baseurl }}/" class="simple-link">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none"><path d="M8 5l-5 5l5 5" stroke="#626262" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M3 10h8c5.523 0 10 4.477 10 10v1" stroke="#626262" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" /></svg>
      Back
    </a>
   </p>
  </div>
  <div class="recipe-title">
    <h1>{{ page.title }}</h1>
    <p>{{ page.desc | escape }}</p>
  </div>
{{ content }}
</div>
